<h1>Fines</h1>
<% if @fines.empty? %>
    <%= content_tag(:p, "There are no fines") %>
<% else %>
    <table class="orders">
      <caption>Fines for Order <%= @order.id %> </caption>
      <thead>
      <tr>
        <th>Fine id</th>
        <th>Order</th>
        <th>Reason</th>
        <th>Cost</th>
      </tr>
      </thead>
      <tbody>

      <% @fines.each do |fine| %>
          <tr data-fine-id="<%= fine.id%>">
            <td>
              <%= content_tag(:span, link_to(fine.id, fine_path(fine))) %>
            </td>
            <td>
              <%= content_tag(:span, fine.order) %>
            </td>
            <td>
              <%= content_tag(:span, fine.reason) + '$' %>
            </td>
            <td>
              <%= content_tag(:span, fine.cost) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>


