<h1>Crete Fine</h1>
<%= form_for @fine do |f|%>
    <%= label_tag :order, 'Order: '%>
    <%= content_tag(:div, ("#{@order.client} - #{@order.car}"), :id => 'order') %><br>
    <%= f.label :reason, 'Reason: ' %>
    <%= f.text_area :reason%><br>
    <%= f.label :cost, 'Cost: ' %>
    <%= f.text_field :cost %><br>
    <%= f.submit 'Submmit' %>
<% end %>
