<h1><%= "Fine: #{@fine.id}"%></h1>

<div id="fine">
  <%= content_tag(:p, "Client: #{@fine.order.client}") %>
  <%= content_tag(:p, "Car: #{@fine.order.car}") %>
  <%= content_tag(:p, "Reason: #{@fine.reason}") %>
  <%= content_tag(:p, "Cost: #{@fine.cost}$") %>
</div>


<%= link_to 'Orders', orders_path %>