<script type="text/javascript">
//    function update_prices(id) {
//      jQuery.ajax({
//        url: "/",
//        type: "GET",
//        data: {"id" : id},
//        dataType: "html",
//        success: function(data) {
//          jQuery("#price").html(data);
//        }
//      });
//    }
</script>
<h1>Rent Car</h1>
<%= form_for @order do |f|%>
    <%= f.label :car, 'Choose a car: '%>
    <%= f.select :car, options_from_collection_for_select(@available_cars, "id", "brand") %><br>


    <%= f.label :passport, 'Your passport: '%>
    <%= f.text_field :passport%><br>
    <%= f.label :rent_time, 'Rent Time: '%>
    <%= f.text_field :rent_time%><br>
    <%= f.submit 'Submmit' %>
<% end %>