<h1><%= @order.car%></h1>

<%= content_tag(:p, "Client: #{@order.client}") %>
<%= content_tag(:p, "Rent Time: #{@order.rent_time}") %>
<%= content_tag(:p, "Car Price: #{@order.car.price}") %>
<%= content_tag(:p, "Admin: #{@order.admin}") %>
<%= content_tag(:p, "Car Status: #{@order.car.status}") %>
<%= content_tag(:p, "Car Condition: #{@order.car.condition}") %>
<%= content_tag(:p, "Total Cost: #{@order.car.price * @order.rent_time}") %>

<%= content_tag(:p, "Comment: #{@order.comment}") %>
<%= link_to 'Orders', orders_path %>